/* AnimatedText.css */
.animated-text {
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: 500; /* Light font weight for minimal look */
    color: #333; /* Dark gray color for text */
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slide-in {
    transform: translateX(0);
  }
  